<h1> Vehicle Api Client</h1>
<div>
<p> Vehicle Id : <input type="text" [(ngModel)]="vehicleObj.id"> </p>
<p> Vehicle Year : <input type="text" [(ngModel)]="vehicleObj.year"> </p>
<p> Vehicle Make : <input type="text" [(ngModel)]="vehicleObj.make"> </p>
<p> Vehicle Model : <input type="text" [(ngModel)]="vehicleObj.model"> </p>
<p><button (click) = "save()">Save</button>&nbsp;
<button (click) = "update()">Update</button> &nbsp;
<button (click) = "delete()">Delete</button>
</p>
</div>

<div *ngIf="respError!=null">
  <p>Error In Saving : {{ respError }}</p>
</div>

<div>
<p><button (click) = "getAll()">GetAllVehicles</button> </p>
</div>

<div *ngIf="responseObj!=null">
   {{ responseObj }}
</div>